<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.7.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.1.0.56" targetFramework="net472" />
</packages>